// *************************************
//
//   _settings.scss
//   -> Declare fonts and variables
//
// *************************************

$site-font: 'Karla', sans-serif;

$html-font-size: 62.5%;
$body-font-size: 18;

/**
 * Define colours
 * e.g. $red: #ff0000;
 */


/**
 * Assign colours
 * e.g. $primary-colour: $red;
 */